@custom-selector :--heading h1, h2, h3, h4, h5, h6;
#app {
    text-align: center;
    font-size: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    /* align-content: center; */
    /* color: red; */
}
:--heading {
    margin-block: 0;
}

a {
    all: initial;
}
