#apptxt {
    color: red;
    // font-weight: bold;
}
.img img,
.boximg {
    width: 100px;
    height: 100px;
}
.boximg {
    background-image: url('../images/zilaiye.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
}
